source [find interface/stlink.cfg]
transport select hla_swd

# STM32WB target
source [find target/stm32wbx.cfg]

# Safer speed to start with
adapter speed 500

reset_config srst_only srst_nogate connect_assert_srst